#pc-wrap {
	#property-list-page {
		padding-bottom: 40px;
		background: #f6f6f6;
		justify-content: center;

		.filter-holder {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.container {
			width: auto;
			height: auto;
			justify-content: center;
			.right {
				position: absolute;
				right: 0;
				top: 3%;
				display: flex;
				flex-direction: row;
				align-items: center;
				z-index: 2;
				button {
					margin-left: 10px;
					color: #181a20;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: bold;
					line-height: 26px;
					&:hover {
						background: none;
					}
				}
			}
			.search-box {
				width: auto;
				height: auto;
				border: 1px solid red;
				position: relative;
				margin-top: 50px;
				padding: 16px 29px;
				width: 1094px;
				height: 96px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				margin-left: 100px;
				align-items: center;
				justify-content: space-between;
				background: rgba(12, 65, 209, 0.28);
				border-radius: 12px;
				.select-box {
					width: 712px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					.box {
						padding: 24px 22px;
						width: 213px;
						height: 56px;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;
						border-radius: 12px;
						background: rgba(255, 255, 255, 0.575);
						box-sizing: border-box;
						cursor: pointer;
						&.on {
							background: #ffffff;
							border: 1px solid #000;
							color: #181a20;
						}
						span {
							color: #181a20;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 26px;
						}
						// svg {
						// }
					}
				}
				.search-box-other {
					display: flex;
					flex-direction: row;
					align-items: center;
					.advanced-filter {
						display: flex;
						flex-direction: row;
						align-items: center;
						img {
							margin-right: 10px;
							width: 25px;
							height: 22px;
							cursor: pointer;
						}
						span {
							color: #fff;
							font-family: $font;
							font-size: 20px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							cursor: pointer;
						}
					}
					.search-btn {
						margin-left: 12px;
						width: 62px;
						height: 62px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 55px;
						background: #f17742;
						cursor: pointer;
						svg {
							width: 20px;
							height: 20px;
							color: #ffffff;
						}
					}
				}
				.filter-location {
					position: absolute;
					padding: 40px 60px;
					width: 1094px;
					min-height: 120px;
					height: auto;
					top: 96px;
					right: 0px;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					gap: 40px;
					visibility: hidden;
					border-radius: 12px;
					background: #ffffff;
					box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
					box-sizing: border-box;
					z-index: 2;
					&.on {
						visibility: visible;
						transition: 0.2s ease-out;
						background: #fffdfd;
					}
					div {
						width: 295px;
						display: flex;
						flex-direction: row;
						align-items: center;
						img {
							width: 122px;
							height: 85px;
							border-radius: 15px;
							cursor: pointer;
						}
						span {
							margin-left: 22px;
							color: #181a20;
							font-family: $font;
							font-size: 20px;
							font-style: normal;
							font-weight: 400;
							line-height: 26px;
							cursor: pointer;
							text-transform: capitalize;
						}
						label {
							line-height: 13px;
						}
					}
				}
				.filter-type {
					position: absolute;
					padding: 40px 60px;
					width: 1094px;
					min-height: 120px;
					height: auto;
					top: 96px;
					right: 0px;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					gap: 40px;
					visibility: hidden;
					border-radius: 12px;
					background: #ffffff;
					box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
					box-sizing: border-box;
					z-index: 2;
					&.on {
						visibility: visible;
						transition: 0.2s ease-out;
						background: #fffdfd;
					}
					div {
						position: relative;
						width: 272px;
						height: 168px;
						border-radius: 15px;
						cursor: pointer;
						background-size: cover;
						span {
							position: absolute;
							top: 13px;
							right: 12px;
							padding: 1px 5px 5px 5px;
							border-radius: 2px 2px 0px 0px;
							font-family: $font;
							font-size: 20px;
							font-style: normal;
							font-weight: 700;
							line-height: 26px;
							background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
							// -webkit-background-clip: text;
							// -webkit-text-fill-color: transparent;
							text-transform: capitalize;
						}
					}
				}
			}
			.property-page {
				position: relative;
				width: 100%;
				flex-direction: row;
				// gap: 25px;
				padding-top: 56px;

				.product-container {
					width: 100%;
					height: 300px;
				}
				.search-box {
					position: relative;
					padding: 16px 29px;
					width: 1094px;
					height: 96px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					background: rgba(255, 255, 255, 0.28);
					border-radius: 12px;
					.select-box {
						width: 712px;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						.box {
							padding: 24px 22px;
							width: 213px;
							height: 56px;
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: space-between;
							border-radius: 12px;
							background: rgba(255, 255, 255, 0.575);
							box-sizing: border-box;
							cursor: pointer;
							&.on {
								background: #ffffff;
								border: 1px solid #000;
								color: #181a20;
							}
							span {
								color: #181a20;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: 26px;
							}
						}
					}
					.search-box-other {
						display: flex;
						flex-direction: row;
						align-items: center;
						.advanced-filter {
							display: flex;
							flex-direction: row;
							align-items: center;
							img {
								margin-right: 10px;
								width: 25px;
								height: 22px;
								cursor: pointer;
							}
							span {
								color: #fff;
								font-family: $font;
								font-size: 20px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								cursor: pointer;
							}
						}
						.search-btn {
							margin-left: 12px;
							width: 62px;
							height: 62px;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 55px;
							background: #f17742;
							cursor: pointer;
							svg {
								width: 20px;
								height: 20px;
								color: #ffffff;
							}
						}
					}
					// .filter-location {
					// 	position: absolute;
					// 	padding: 40px 60px;
					// 	width: 1094px;
					// 	min-height: 120px;
					// 	height: auto;
					// 	top: 96px;
					// 	right: 0px;
					// 	display: flex;
					// 	flex-direction: row;
					// 	flex-wrap: wrap;
					// 	gap: 40px;
					// 	visibility: hidden;
					// 	border-radius: 12px;
					// 	background: #ffffff;
					// 	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
					// 	box-sizing: border-box;
					// 	z-index: 2;
					// 	&.on {
					// 		visibility: visible;
					// 		transition: 0.2s ease-out;
					// 		background: #fffdfd;
					// 	}
					// 	div {
					// 		width: 295px;
					// 		display: flex;
					// 		flex-direction: row;
					// 		align-items: center;
					// 		img {
					// 			width: 122px;
					// 			height: 85px;
					// 			border-radius: 15px;
					// 			cursor: pointer;
					// 		}
					// 		span {
					// 			margin-left: 22px;
					// 			color: #181a20;
					// 			font-family: $font;
					// 			font-size: 20px;
					// 			font-style: normal;
					// 			font-weight: 400;
					// 			line-height: 26px;
					// 			cursor: pointer;
					// 			text-transform: capitalize;
					// 		}
					// 		label {
					// 			line-height: 13px;
					// 		}
					// 	}
					// }
					.filter-type {
						position: absolute;
						padding: 50px;
						width: 1094px;
						min-height: 120px;
						height: auto;
						top: 96px;
						right: 0px;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						visibility: hidden;
						border-radius: 12px;
						background: #fff;
						box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
						box-sizing: border-box;
						z-index: 1;
						&.on {
							visibility: visible;
							transition: 0.2s ease-out;
							background: #fffdfd;
						}
						div {
							position: relative;
							width: 272px;
							height: 168px;
							border-radius: 15px;
							cursor: pointer;
							background-size: cover;
							span {
								position: absolute;
								top: 13px;
								right: 12px;
								padding: 1px 5px 5px 5px;
								border-radius: 2px 2px 0px 0px;
								font-family: $font;
								font-size: 20px;
								font-style: normal;
								font-weight: 700;
								line-height: 26px;
								background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
								// -webkit-background-clip: text;
								// -webkit-text-fill-color: transparent;
								text-transform: capitalize;
							}
						}
					}
					// .filter-rooms {
					// 	position: absolute;
					// 	padding: 10px 92px;
					// 	width: 1094px;
					// 	min-height: 120px;
					// 	height: auto;
					// 	top: 96px;
					// 	right: 0px;
					// 	display: flex;
					// 	flex-direction: row;
					// 	justify-content: space-between;
					// 	align-items: center;
					// 	visibility: hidden;
					// 	border-radius: 12px;
					// 	background: #fff;
					// 	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
					// 	box-sizing: border-box;
					// 	z-index: 1;
					// 	&.on {
					// 		visibility: visible;
					// 		transition: 0.2s ease-out;
					// 		background: #fffdfd;
					// 	}
					// 	span {
					// 		display: flex;
					// 		align-items: center;
					// 		padding: 10px 30px;
					// 		border: 1px solid #fffdfd;
					// 		color: #181a20;
					// 		font-family: $font;
					// 		font-size: 20px;
					// 		font-style: normal;
					// 		font-weight: 400;
					// 		line-height: 26px;
					// 		cursor: pointer;
					// 		&:hover {
					// 			border-radius: 5px;
					// 			border: 1px solid #b9b9b9;
					// 			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
					// 		}
					// 	}
					// }
				}
				.main-config {
					width: 100%;
					align-items: center;

					.list-config {
						display: flex;
						width: 400px;
						height: auto;
						flex-direction: row;
						flex-wrap: wrap;
						gap: 23px;

						.card-config {
							width: 100%;
							height: 413px;
							margin-bottom: 7px;
							border-radius: 12px;
							background: #fff;
							box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
							.top {
								position: relative;
								width: 100%;
								height: 240px;
								a {
									height: 100%;
								}
								img {
									width: 100%;
									height: 100%;
									object-fit: cover;
									border-radius: 12px 12px 0 0;
								}
								.top-badge {
									position: absolute;
									top: 20px;
									left: 16px;
									display: flex;
									width: 80px;
									height: 30px;
									justify-content: center;
									align-items: center;
									border-radius: 6px;
									padding: 6px 20px;
									background: #eb6753;
									color: #fff;
									text-align: center;
									text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
									font-family: $font;
									font-size: 12px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
									img {
										height: 16px;
									}
								}
								.price-box {
									position: absolute;
									bottom: 20px;
									left: 20px;
									padding: 8px 15px;
									align-items: center;
									border-radius: 6px;
									border: 1px solid rgba(255, 255, 255, 0.5);
									background: #fff;
									p {
										color: #181a20;
										font-family: $font;
										font-size: 15px;
										font-style: normal;
										font-weight: 600;
										line-height: normal;
									}
								}
							}
							.bottom {
								width: 100%;
								height: 173px;
								padding: 20px 16px 10px 16px;
								.name-address {
									width: 100%;
									height: 48px;
									gap: 5px;
									margin-bottom: 20px;
									.name {
										width: 100%;
										height: 23px;
										overflow: hidden;
										p {
											color: #181a20;
											font-family: $font;
											font-size: 15px;
											font-style: normal;
											font-weight: 600;
											line-height: normal;
											text-transform: capitalize;
										}
									}
									.address {
										width: 100%;
										overflow: hidden;
										p {
											color: #717171;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
										}
									}
								}
								.options {
									flex-direction: row;
									width: 100%;
									height: 20px;
									gap: 20px;
									margin-bottom: 10px;
									.option {
										flex-direction: row;
										gap: 5px;
										align-items: center;
										p {
											color: #181a20;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
										}
									}
								}
								.divider {
									width: 100%;
									height: 1px;
									background: #ddd;
									margin-bottom: 17px;
								}
								.type-buttons {
									flex-direction: row;
									width: 100%;
									justify-content: space-between;
									align-items: center;
									.type {
										flex-direction: row;
										align-items: center;
										gap: 7px;
										p {
											color: #181a20;
											font-family: $font;
											font-style: normal;
											line-height: normal;
										}
										.disabled-type {
											color: rgba(143, 143, 143, 0.54);
											font-family: $font;
											font-style: normal;
											line-height: normal;
										}
									}
									.buttons {
										flex-direction: row;
										width: auto;
										justify-content: center;
										align-items: center;
										svg {
											width: 24px;
											height: 24px;
											cursor: pointer;
										}
										.view-cnt {
											font-size: 13px;
										}
									}
								}
							}
						}
					}
					.pagination-config {
						width: 442px;
						height: 86px;
						align-items: center;
						gap: 20px;
						.pagination-box {
							width: 100%;
							align-items: center;
						}
						.total-result {
							p {
								color: #181a20;
								text-align: center;
								font-family: $font;
								font-size: 24px;
								font-style: normal;
								font-weight: 275;
								line-height: 26px;
							}
						}
					}
				}
			}
		}
	}
}
