.property-big-card-box {
	position: relative;
	margin-right: 8px;
	margin-left: 8px;
	margin-bottom: 35px;
	width: 350px;
	height: 400px;
	display: flex;
	flex-direction: column;

	@include mobile {
		width: 100%;
		margin: 0 0 20px 0;
		height: auto;
	}

	.card-img {
		position: relative;
		width: 100%;
		height: 264px;
		background-size: cover;
		border-radius: 12px 12px 0px 0px;
		// cursor: pointer;
		
		@include mobile {
			height: 200px;
		}

		div.status {
			position: absolute;
			padding: 6px 34px;
			left: 20px;
			top: 20px;
			display: flex;
			align-items: center;
			border-radius: 6px;
			background: #eb6753;
			img {
				width: 14px;
				height: 14px;
			}
			span {
				margin-left: 5px;
				color: #fff;
				font-family: $font;
				font-size: 12px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				text-transform: uppercase;
			}
		}
	}
	.info {
		padding: 20px 22px 17px;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		border-radius: 0px 0px 12px 12px;
		border: 1px solid #ddd;
		border-top: none;
		background: #fff;
		.title {
			overflow: hidden;
			color: #181a20;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-family: $font;
			font-size: 15px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-transform: capitalize;
			cursor: pointer;
		}
		.desc {
			margin-top: 5px;
			overflow: hidden;
			color: #717171;
			font-family: $font;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.options {
			margin-top: 15px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			div {
				display: flex;
				flex-direction: row;
				img {
					margin-right: 5px;
					width: 17px;
					height: 17px;
				}
				span {
					color: #181a20;
					font-family: $font;
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}
		}
		.bott {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			.price {
				width: 80px;
				height: 20px;
				background: rgb(0, 187, 255);
				border-radius: 10px;
				color: white;
				font-weight: bold;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
			}

			div {
				width: 65px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
			}
			p {
				color: #181a20;
				font-family: $font;
				font-size: 13px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				text-transform: capitalize;
			}
			span {
				margin-left: 6px;
				color: rgba(143, 143, 143, 0.54);
				font-family: $font;
				font-size: 15px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				text-transform: capitalize;
			}
			button {
				margin-left: 15px;
				width: 16px;
				height: 16px;
				box-sizing: border-box;
			}
			.buttons-box {
				width: auto;
				height: auto;
				display: flex;
				flex-direction: row;
				gap: 7px;
			}
		}
	}
}
.agent-general-card {
	position: relative;
	margin-right: 27px;
	margin-bottom: 34px;
	display: flex;
	flex-direction: column;
	border: 2px solid #ddd;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s, box-shadow 0.3s;

	@include mobile {
		margin-right: 0;
		width: 100%;
	}

	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	}

	.agent-img {
		border-radius: 12px;
		width: 233px;
		height: 200px;
		background-size: cover;
		background-position: center;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		transition: transform 0.3s;

		@include mobile {
			width: 100%;
			height: 250px;
		}

		&:hover {
			transform: scale(1.05);
		}

		div {
			position: absolute;
			padding: 12px;
			top: 12px;
			left: 12px;
			justify-content: center;
			border-radius: 6px;
			background: #de776b;
			color: #fff;
			font-family: $font;
			font-size: 12px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			opacity: 0;
			transition: opacity 0.3s;
		}

		&:hover div {
			opacity: 1;
		}
	}

	.agent-desc {
		margin-top: 23px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.agent-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			strong {
				color: #181a20;
				font-family: $font;
				font-size: 15px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				cursor: pointer;
			}
			span {
				color: #555;
				font-family: $font;
				font-size: 15px;
				font-style: normal;
				font-weight: 400;
				line-height: 28px;
			}
		}

		.buttons {
			width: auto;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			svg {
				width: 24px;
				height: 24px;
				cursor: pointer;
				margin-right: 5px;
				transition: transform 0.3s;
				&:hover {
					transform: scale(1.1);
				}
			}

			.view-cnt {
				font-size: 13px;
				color: #888;
			}
		}

		.male-spa-icon {
			display: none;
			position: absolute;
			top: 10px;
			right: 10px;
			width: 24px;
			height: 24px;
			cursor: pointer;
			transition: opacity 0.3s ease-in-out;

			&.visible {
				display: block;
				opacity: 1;
			}
		}
	}

	.top-agent-card:hover .male-spa-icon {
		display: block;
	}
}
.community-general-card-config {
	position: relative;
	height: auto;
	gap: 20px;
	border-radius: 12px;
	border: 1px solid red;
	background: rgb(245, 245, 245);
	cursor: pointer;
	.image-box {
		width: 100%;
		height: 283px;
		.card-img {
			width: 100%;
			height: 100%;
			border-radius: 12px;
		}
	}
	.desc-box {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 80px;
		.title {
			color: #717171;
			font-family: $font;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		.desc {
			color: #181a20;
			font-family: $font;
			font-size: 15px;
			font-style: normal;
			font-weight: 600;
			line-height: 26px;
			text-transform: capitalize;
		}
		.buttons {
			width: auto;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			svg {
				width: 24px;
				height: 24px;
				cursor: pointer;
			}
			.view-cnt {
				font-size: 13px;
			}
		}
	}
	.date-box {
		position: absolute;
		width: 70px;
		height: 69.014px;
		align-items: center;
		justify-content: center;
		top: 15px;
		right: 20px;
		border-radius: 50px;
		background: #fff;
		box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
		.month {
			color: #181a20;
			text-align: center;
			font-family: $font;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		.day {
			color: #181a20;
			font-family: $font;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
	}
}
