#pc-wrap {
	#community-list-page {
		position: relative;
		.container {
			padding-top: 100px;
			flex-direction: column;
			gap: 64px;

			@include mobile {
				padding-top: 20px;
				gap: 30px;
			}

			.main-box {
				flex-direction: row;
				gap: 31px;

				@include mobile {
					flex-direction: column;
					gap: 20px;
				}

				.left-config {
					width: 266px;
					height: fit-content;
					gap: 30px;
					padding: 30px 15px 57px 21px;
					margin-top: 100px;
					margin-bottom: 50px;
					border-radius: 12px;
					border: 1px solid rgba(196, 196, 196, 0.79);
					background: #fff;
					box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

					@include mobile {
						width: 100%;
						margin-top: 0;
						margin-bottom: 20px;
						padding: 20px;
					}

					.image-info {
						width: 100%;
						flex-direction: row;
						gap: 11px;
						img {
							width: 80px;
							height: 80px;
							border-radius: 50%;
							object-fit: cover;
						}
						.community-name {
							.name {
								margin-top: 15px;
								color: #181a20;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
					}
					.tab-button {
						width: 216.612px;
						height: 36px;
						padding: 0;
						justify-content: center;
						align-items: center;
						border-radius: 6px;
						border: 1px solid #181a20;
						margin-bottom: 10px;
						color: #181a20;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 150%;
						letter-spacing: -0.266px;
						border: 1px solid rgb(204, 204, 204);

						@include mobile {
							width: 100%;
						}
					}
					.tab-button.active {
						width: 216.612px;
						height: 36px;
						padding: 0;
						justify-content: center;
						align-items: center;
						background-color: #c1c1c1;
						color: #ffffff;
						border-radius: 6px;
						margin-bottom: 10px;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 150%;
						letter-spacing: -0.266px;

						@include mobile {
							width: 100%;
						}
					}
				}
				.right-config {
					width: 100%;
					height: auto;
					.panel-config {
						width: 100%;
						height: auto;
						.title-box {
							width: 100%;
							height: 70px;
							border-radius: 15px;
							background: rgb(241, 239, 239);
							flex-direction: row;
							justify-content: space-around;
							align-items: center;
							margin-bottom: 45px;

							@include mobile {
								height: auto;
								padding: 15px;
								flex-direction: column;
								gap: 10px;
								margin-bottom: 20px;
							}

							.left {
								width: 60%;
								height: auto;

								@include mobile {
									width: 100%;
									text-align: center;
								}

								.title {
									color: #060404;
									font-family: $font;
									font-size: 24px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
									letter-spacing: 0.24px;

									@include mobile {
										font-size: 20px;
									}
								}
								.sub-title {
									color: #f66f00;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 700;
									line-height: normal;
									letter-spacing: 0.325px;
								}
							}
							.right {
								width: 91px;
								height: 32px;
								border-radius: 4px;
								background: #eb6753;
								color: #fff;
								font-family: $font;
								font-size: 13px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
								letter-spacing: 0.39px;
							}
						}
						.list-box {
							width: 100%;
							height: auto;
							flex-direction: row;
							flex-wrap: wrap;
							gap: 30px;

							@include mobile {
								justify-content: center;
								gap: 15px;
							}
						}
					}
				}
			}
			.similar-articles-config {
				width: 100%;
				height: auto;
				gap: 75px;
				padding: 30px 9px 28px 9px;
				border-radius: 10px;
				border: 1px solid #c4c4c4;

				@include mobile {
					gap: 30px;
					padding: 20px 10px;
				}

				.similar-articles-title {
					padding-left: 56px;
					color: #000;
					font-family: $font;
					font-size: 30px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;

					@include mobile {
						padding-left: 0;
						font-size: 24px;
						text-align: center;
					}
				}
				.articles-box-row {
					width: 100%;
					height: auto;
					flex-direction: row;
					gap: 5px;

					@include mobile {
						flex-direction: column;
						gap: 15px;
					}
				}
			}
			.pagination-config {
				width: 100%;
				align-items: center;
				justify-content: center;
				margin-bottom: 50px;
				gap: 20px;
				padding-left: 270px;

				@include mobile {
					padding-left: 0;
					margin-bottom: 30px;
				}

				.pagination-box {
					align-items: center;
					justify-content: center;
				}
				.total-result {
					p {
						color: #181a20;
						text-align: center;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
					}
				}
			}
		}
	}
}
