#pc-wrap {
	#community-detail-page {
		position: relative;
		padding-bottom: 135px;

		@include mobile {
			padding-bottom: 40px;
		}

		.container {
			padding-top: 100px;
			flex-direction: column;
			gap: 64px;

			@include mobile {
				padding-top: 20px;
				gap: 30px;
			}

			.main-box {
				flex-direction: row;
				gap: 31px;

				@include mobile {
					flex-direction: column;
					gap: 20px;
				}

				.left-config {
					width: 266px;
					height: fit-content;
					gap: 30px;
					padding: 30px 15px 57px 21px;
					margin-top: 100px;
					border-radius: 12px;
					border: 1px solid rgba(196, 196, 196, 0.79);
					background: #fff;
					box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

					@include mobile {
						width: 100%;
						margin-top: 0;
						padding: 20px;
					}

					.image-info {
						width: 100%;
						flex-direction: row;
						gap: 11px;

						img {
							width: 80px;
							height: 80px;
							border-radius: 50%;
							object-fit: cover;
						}

						.community-name {
							.name {
								margin-top: 15px;
								color: #181a20;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
					}

					.tab-button {
						width: 216.612px;
						height: 36px;
						padding: 0;
						justify-content: center;
						align-items: center;
						border-radius: 6px;
						border: 1px solid #181a20;
						margin-bottom: 10px;
						color: #181a20;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 150%;
						letter-spacing: -0.266px;

						@include mobile {
							width: 100%;
						}

						&.active {
							background-color: #000000;
							color: #ffffff;
						}
					}
				}

				.community-detail-config {
					width: 100%; // Ensure it takes full width of parent flex item

					.title-box {
						width: 100%;
						height: auto;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						margin-bottom: 45px;

						@include mobile {
							flex-direction: column;
							gap: 10px;
							align-items: flex-start;
							margin-bottom: 20px;
						}

						.left {
							width: 60%;

							@include mobile {
								width: 100%;
							}

							.title {
								color: #000;
								font-family: $font;
								font-size: 24px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								letter-spacing: 0.24px;

								@include mobile {
									font-size: 20px;
								}
							}

							.sub-title {
								color: #757575;
								font-family: $font;
								font-size: 13px;
								font-style: normal;
								font-weight: 700;
								line-height: normal;
								letter-spacing: 0.325px;
							}
						}

						.right {
							width: 91px;
							height: 32px;
							border-radius: 4px;
							background: #eb6753;
							color: #fff;
							font-family: $font;
							font-size: 13px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
							letter-spacing: 0.39px;
						}
					}

					.config {
						.first-box-config {
							width: 1012px;
							min-height: 500px;
							border-radius: 8px 8px 0px 0px;
							border: 1px solid #eee;
							box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

							@include mobile {
								width: 100%;
								min-height: auto;
							}

							.content-and-info {
								width: 100%;
								height: 126px;
								padding: 35px 25px;
								flex-direction: row;
								justify-content: space-between;
								border-bottom: 1px solid #eee;

								@include mobile {
									height: auto;
									flex-direction: column;
									gap: 15px;
									padding: 20px;
								}

								.content {
									gap: 12px;

									.content-data {
										color: #000;
										font-family: $font;
										font-size: 18px;
										font-style: normal;
										font-weight: 700;
										line-height: normal;
									}

									.member-info {
										width: auto;
										height: auto;
										flex-direction: row;
										align-items: center;
										gap: 5px;

										.member-img {
											width: 30.023px;
											height: 30px;
											cursor: pointer;
										}

										.member-nick {
											color: #000;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
											letter-spacing: 0.13px;
											cursor: pointer;
										}

										.divider {
											width: 1px;
											height: 16px;
											background: #eee;
										}

										.time-added {
											color: #bdbdbd;
											font-family: $font;
											font-size: 12px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
											letter-spacing: 0.12px;
										}
									}
								}

								.info {
									width: auto;
									height: auto;
									gap: 15px;
									flex-direction: row;
									align-items: flex-end;

									@include mobile {
										align-items: flex-start;
									}

									.icon-info {
										flex-direction: row;
										align-items: center;
										justify-content: center;
										gap: 4px;

										img {
											width: 18.714px;
											height: 16.15px;
										}

										.text {
											padding-top: 2px;
											color: #000;
											font-family: $font;
											font-size: 11px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
											letter-spacing: -0.22px;
										}
									}

									.divider {
										width: 1px;
										height: 21px;
										background: #eeeeee;
									}
								}
							}

							.like-and-dislike {
								width: 100%;
								height: 100%;
								align-items: center;
								justify-content: flex-end;
								gap: 60px;
								padding: 25px 25px;

								@include mobile {
									justify-content: center;
									gap: 20px;
									padding: 20px;
								}

								.top {
									width: 100%;
									height: auto;
									flex-direction: row;
									align-items: center;
									justify-content: center;
									gap: 17px;

									button {
										width: 105.081px;
										height: 45px;
										gap: 5px;
										border-radius: 2px;
										border: 1px solid #eee;
										background: #eb6753;

										p {
											color: #fff;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
											letter-spacing: -0.26px;
										}
									}
								}
							}
						}

						.second-box-config {
							width: 1012px;
							height: auto;
							padding: 30px 24px;
							gap: 11px;

							@include mobile {
								width: 100%;
								padding: 20px;
							}

							.title-text {
								align-self: flex-start;
								color: #000;
								text-align: center;
								font-family: $font;
								font-size: 17px;
								font-style: normal;
								font-weight: 700;
								line-height: normal;
								letter-spacing: -0.34px;
							}

							.leave-comment {
								input {
									width: 100%;
									height: 61px;
									outline: none;
									padding: 22px 17px;
									border: 1px solid #eee;

									&::placeholder {
										color: #c0c0c0;
										font-family: $font;
										font-size: 14px;
										font-style: normal;
										font-weight: 500;
										line-height: normal;
										letter-spacing: -0.56px;
									}
								}

								.button-box {
									width: 100%;
									height: 42px;
									flex-direction: row;
									justify-content: space-between;
									align-items: center;
									padding-left: 17px;
									border: 1px solid #eee;
									border-top: none;

									p {
										color: #000;
										font-family: $font;
										font-size: 14px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
										letter-spacing: 0.56px;
									}

									button {
										width: 100.077px;
										height: 100%;
										border-radius: 0;
										background: #eb6753;
										color: #fff;
										font-family: $font;
										font-size: 14px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
										letter-spacing: 0.56px;
									}
								}
							}
						}

						.comments {
							width: 100%;
							height: auto;
							border: 1px solid #efefef;
							border-top: none;

							.comments-title {
								width: 112.087px;
								display: flex;
								align-items: center;
								justify-content: center;
								padding: 16px 15px;
								border-bottom: 2px solid #eb6753;
								color: #eb6753;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 700;
								line-height: normal;
								letter-spacing: 0.56px;
							}
						}

						.pagination-box {
							width: 100%;
							height: auto;
							margin-top: 30px;
							align-items: center;
							justify-content: center;
						}

						.comments-box {
							.main-comment {
								width: 100%;
								height: auto;
								padding: 20px 24px;
								gap: 17px;
								border: 1px solid #efefef;
								border-top: none;

								@include mobile {
									padding: 15px;
								}

								.member-info {
									width: 100%;
									height: auto;
									flex-direction: row;
									justify-content: space-between;

									@include mobile {
										flex-direction: column;
										gap: 10px;
									}

									.name-date {
										width: auto;
										height: auto;
										flex-direction: row;
										gap: 8px;
										cursor: pointer;

										img {
											width: 45.035px;
											height: 45px;
											border-radius: 50%;
											cursor: pointer;
											object-fit: cover;
										}

										.name {
											color: #000;
											font-family: $font;
											font-size: 16px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
											cursor: pointer;
										}

										.date {
											color: #757575;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
											letter-spacing: -0.39px;
											cursor: pointer;
										}
									}

									.buttons {
										flex-direction: row;
									}
								}

								.content {
									width: 100%;
									height: auto;

									p {
										color: #000;
										font-family: $font;
										font-size: 16px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
										letter-spacing: -0.48px;
									}
								}
							}
						}
					}
				}
			}

			.similar-articles-config {
				width: 100%;
				height: auto;
				gap: 75px;
				padding: 30px 9px 28px 9px;
				border-radius: 10px;
				border: 1px solid #c4c4c4;

				@include mobile {
					gap: 30px;
					padding: 20px 10px;
				}

				.similar-articles-title {
					padding-left: 56px;
					color: #000;
					font-family: $font;
					font-size: 30px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;

					@include mobile {
						padding-left: 0;
						font-size: 24px;
						text-align: center;
					}
				}

				.articles-box-row {
					width: 100%;
					height: auto;
					flex-direction: row;
					gap: 5px;

					@include mobile {
						flex-direction: column;
						gap: 15px;
					}
				}
			}
		}
	}
}
